.home {
  height: 90vh;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff8080;
  color: white;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h2,
h3 {
  margin: 10px 0px;
}
